@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-color: rgb(127, 10, 196);
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

strong{
    font-size: 20px;
    color: rgb(41, 40, 40);
}

.navbar{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.line{
    height: 4px;
    background-color: #ffffff;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.back{
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

#start-btn{ 
    height: 95px;
    width: 350px;
    font-size: 30px;
    padding: 15px;
    border-radius: 15px;
    font-weight: 800;
    color: brown;
    background-image: linear-gradient(to top, rgb(223, 170, 37),white);
    cursor: pointer;
    box-shadow: 4px 4px 4px  rgb(0, 0, 0);
}

.white{
    font-size: 15px;
    color: #ffffff;
}

#health{
    border: 2px solid white;
    border-radius: 15px;
    height: 10px;
    margin-top: 4px;
}

progress::-webkit-progress-value {
    background: rgb(37, 214, 37);
}

progress::-webkit-progress-bar {
    background-color: rgb(226, 226, 217);
}

#health1{
    border: 2px solid white;
    background: yellow;
    border-radius: 15px;
    height: 10px;
    margin-top: 4px;
}

.health{
    display: flex;
    color: rgb(216, 212, 212);
}

#screen{
    display: flex;
}

.player1Info{
    margin-top: 200px;
}

.player2Info{
    margin-top: 25px;
    text-align: center;
}

.battleField{
    display: flex;
    background-image: url(images/battleground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    width: 750px;
}

.actionField{
    box-sizing: border-box;
    background-color: #ffffff;
    height: 220px;
    width: 750px;
    padding: 10px;
}

.battleRecord{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    box-sizing: border-box;
    background-color: rgb(216, 215, 215);
    font-size: 13px;
    border: 5px solid grey;
    height: 100vh;
    width: 886px;
    padding: 3px;
    overflow-y: auto;
}

.player1Box{
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}

.player2Box{
    display: inline-block;
    height: 100%;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}

.field{
    display: inline-block;
    height: 100%;
    width: 80%;
}

.player1Img{
    height: 80px;
    width: 80px;
    background-image: url(images/winona.png);
    margin: 0px auto;
}

.player2Img{
    height: 80px;
    width: 80px;
    background-image: url(images/skyla.png);
    margin: 0px auto;
}

#activePcPokemon{
    position: absolute;
    height: 180px;
    width: 180px;
    top: 100px;
    left: 400px;
}

#activePlayerPokemon{
    position: absolute;
    height: 180px;
    width: 180px;
    top: 190px;
    left: 135px;
}

.pokeName{
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: black;
    -webkit-text-stroke: 0.8px #ffffff;
    text-align: center;
}

.hpBox{
    display: inline;
    color: rgb(77, 75, 75);
    border: 2px solid grey;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2px 5px;
}
.action-msg{
    display: inline-flex;
}

.attack-text{
    color: red;
    font-weight: bolder;
    font-size: x-large;
}

.move-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.move{
    border: 1px solid;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    cursor: pointer;
}

.pp{
    margin-left: 75px;
}

.turn-record{
    margin-top: 3px;
    box-sizing: border-box;
    padding-left: 5px;
    font-weight: bolder;
    width: 100%;
    border: 3px solid grey;
}

.turn-counter{
    padding: 5px;
    position: relative;
    color: black;
    font-weight: bolder;
    background-color: aliceblue;
    opacity: 0.7;
    width: 60px;
    border: 2px solid black;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    text-align: center;
}

.hover-pokeInfo{
    padding: 3px;
    display: none;
    position: relative;
    height: 115px;
    width: 300px;
    top: 70px;
    left: 8px;
    z-index: 2;
    background-color: azure;
    border: 2px solid rgb(94, 92, 92);
    border-radius: 7px;
    opacity: 0.9;
}

.hover-pcPokeInfo{
    padding: 3px;
    display: none;
    position: relative;
    height: 105px;
    width: 250px;
    top: 20px;
    left: 230px;
    background-color: azure;
    z-index: 2;
    border: 2px solid rgb(94, 92, 92);
    border-radius: 7px;
    opacity: 0.9;
}

.mini-info-box{
    height: 35px;
    padding-bottom: 5px;
    font-family: 'Secular One', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid rgb(94, 92, 92);
}

.mini-info-box2{
    margin-top: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.mini-info-box-move{
    margin-top: 5px;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(94, 92, 92);
}
.space{
    margin: 4px;
}

.hover-move{
    padding: 3px;
    position: absolute;
    background-color: azure;
    opacity: 0.9;
    border: 2px solid rgb(94, 92, 92);
    border-radius: 7px;
    height: 100px;
    width: 170px;
    z-index: 2;
}

#hover-move1{
    display: none;
    left: 10px;
    top: 370px;
}
#hover-move2{
    display: none;
    top: 370px;
    left: 191px;
}
#hover-move3{
    display: none;
    top: 370px;
    left: 375px;
}
#hover-move4{
    display: none;
    top: 370px;
    left: 560px;
}